@model ArkMonitor.ViewModels.HomeIndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Ark Server Configuration</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/lib/datatables/media/css/datatables.bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>@Model.ServerName</h1>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Configuration</h3>
            </div>
            <table class="table table-striped table-bordered" id="configuration">
                <thead>
                    <tr>
                        <th>Setting</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model.Configuration)
                    {
                        <tr>
                            <td>@c.Key</td>
                            <td>@c.Value</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/datatables/media/js/jquery.datatables.min.js"></script>
<script src="~/lib/datatables/media/js/datatables.bootstrap.min.js"></script>
<script>
    $(function() {
        $("#configuration").DataTable({
            "pageLength": 25
        });
    });
</script>
</body>
</html>